.map-container {
    display: flex;
    width: 100vw;
    height: calc(90vh - var(--navbar-height));
}

@media screen and (max-width: 768px) {
    .map-container {
        flex-direction: column;
    }

    :global(.sidebar) {
        width: 100%;
        max-width: none;
        height: 30vh;
        min-height: 15rem;
    }

    :global(.map) {
        height: 70vh;
    }
}